<div class="countdown">
    <div class="digit">
        <div id="weeks" class="digit-number"></div>
        <div class="digit-label">weeks</div>
    </div>
    <div class="digit">
        <div id="days" class="digit-number"></div>
        <div class="digit-label">days</div>
    </div>
    <div class="digit">
        <div id="hours" class="digit-number"></div>
        <div class="digit-label">hours</div>
    </div>
    <div class="digit">
        <div id="minutes" class="digit-number"></div>
        <div class="digit-label" style="color:rgba(71,163,218,0.8);">minutes</div>
    </div>
    <div class="digit">
        <div id="seconds" class="digit-number"></div>
        <div class="digit-label" style="color:rgba(71,163,218,0.8);">seconds</div>
    </div>
</div>
