<div class="container home-page-body">
    <div class="row" style="height:100%">
        <div class="col-md-6 text-center left-side-blue">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-4 ">
                    <div class="profile text-center center-block">
                        <img src="img/ProfilePaddyBlue.jpg" alt="profile1">
                    </div>
                </div>
                <!--<dublin-weather-directive></dublin-weather-directive>-->
            </div>
        </div>
        <div class="col-md-6 text-center right-side-white">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-4 ">
                    <div class="profile text-center center-block">
                        <img src="img/ProfileVictoriaBlue.jpg" alt="profile2">
                    </div>
                </div>
                <!--<brisbane-weather-directive></brisbane-weather-directive>-->
            </div>
        </div>
    </div>
    <countdown-directive></countdown-directive>
</div>
