html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

.home-page-body{
    height: 700px;
}

header{
    background-color: rgb(58, 124, 164);
}

header a{
    font-size: 250%;
    color: rgb(130, 200, 240);
    margin-right: 10px;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}


.left-side-blue{
    height:100%;
    background:rgba(71,163,218,0.8);
}

.left-side-blue .profile{
    background-color:rgba(0,0,0,0.0);
}

.right-side-white{
    height:100%;
    color: rgba(71,163,218,0.8);
    background:white;
}

.right-side-white .profile{
    background-color: white;
}

.weather-app{
    padding-top:100px;
    z-index: 10;
}

.countdown {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.digit {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: center;
    zoom: 1;
    margin-right: 4px;
}

.digit-number {
    font-size: 107px;
    padding: 3px 29px;
    background: #38414a;
    background: rgba(40,50,61,.62);
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.digit-label {
    padding: 5px;
    font-size: 23px;
    text-align: left;
    text-transform: uppercase;
}

.profile {
    margin: 0 auto;
    border-radius: 50%;
    background: #47a3da;
    padding-top:100px;
}

.profile img {
    max-width: 100%;
    border-radius: 50%;
}
